@font-face {
  font-family: 'Sabiya-Regular';
  src: url('~static/fonts/Sabiya/font.woff2') format('woff2'),
    url('~static/fonts/Sabiya/font.woff') format('woff');
}

@font-face {
  src: url('~static/fonts/Roslindale/Roslindale-DisplayCondensedLight.woff2')
      format('woff2'),
    url('~static/fonts/Roslindale/Roslindale-DisplayCondensedLight.woff')
      format('woff');
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: 300;
}
