@import './vars.scss';

html {
  overflow-y: scroll;
}

* {
  font-family: Helvetica;
  margin: 0px;
}

.app {
  min-height: 100vh;
}

img {
  @extend.noselect;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.underline {
  position: relative;

  &::before {
    content: '';
    background: $secondary;
    position: absolute;
    bottom: -4px;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 2px;
  }
}

.linkHover {
  @extend .underline;

  &:before {
    width: 0%;
  }

  &:hover {
    &:before {
      transition: width ease 0.2s;
      width: 50%;
    }
  }
}

.linkHoverParent {
  & > a {
    position: relative;

    &::before {
      content: '';
      background: $secondary;
      position: absolute;
      bottom: -4px;
      right: 0;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      height: 2px;
      width: 0%;
    }
  }

  &:hover {
    & > a {
      &:before {
        transition: width ease 0.2s;
        width: 50%;
      }
    }
  }
}

// .mainNav .nuxt-link-active {
//   @extend .underline;

//   &.homeMain::before {
//     content: none;
//   }
// }

a {
  text-decoration: none;
}

.mainFontStlyeBig {
  font-family: $standard-big-font;
  color: $bright-font;
}

.customh1 {
  @extend .mainFontStlyeBig;
  font-size: 7.56em;
  font-weight: normal;
  margin-bottom: 9px;
  margin-top: 15px;
  line-height: 1;
}

.customh2 {
  font-family: 'Sabiya-Regular';
  color: $secondary;
  font-size: 6.3rem;
  font-weight: normal;
  margin-bottom: -10px;
}

.customh3 {
  @extend .mainFontStlyeBig;
  font-weight: normal;
  font-size: 3rem;
}

.customh4 {
  @extend .customh2;
  font-size: 4rem;
}

p {
  margin: 5px 0px 5px 0px;
  color: inherit;
  min-height: 1em;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility !important;
  letter-spacing: 0.05em;
  font-size: 1.4em;
  line-height: 1.4;
}

.button {
  display: inline-block;
  height: $btn-height;
  letter-spacing: 0.06rem;
  text-decoration: none;
  padding: 15px 20px 15px 20px;
  line-height: 1;
  background-color: $secondary;
  color: $bright-font;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.2s ease all;
  overflow: hidden;
  position: relative;
  z-index: 1;
  min-width: 198px;
  font-size: 1rem;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $secondary;
    border-radius: 7px;
    z-index: -2;
  }

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: lighten($secondary, 3%);
    transition: all 0.2s;
    border-radius: 0px;
    z-index: -1;
  }

  &:hover {
    &:before {
      width: 100%;
    }
  }

  &:active {
    &:before {
      background-color: $secondary;
    }
  }
}

.buttonLight {
  @extend .button;
  background-color: transparent;
  border: $secondary 2.5px solid;
  color: $bright-font;

  &:after {
    content: none;
  }

  &:before {
    content: none;
  }

  &:hover {
    background-color: $secondary;
  }

  &:active {
    background-color: transparent;
    transition: 0s all;
  }
}

.smaller {
  font-size: 0.6em;
  color: inherit;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.from-left {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.from-right {
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
}

.from-left,
.from-right {
  transition: opacity 0.3s ease-in, -webkit-transform 0.3s ease-in;
  transition: opacity 0.3s ease-in, transform 0.3s ease-in;
  transition: opacity 0.3s ease-in, transform 0.3s ease-in,
    -webkit-transform 0.3s ease-in;
  opacity: 0;
}

.from-left.appear,
.from-right.appear {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

@media screen and (max-width: 707px) {
  html {
    font-size: 0.9em;
  }
}

@media screen and (max-width: $second-incr) {
  .customh1 {
    font-size: 5.9em !important;
  }

  .customh2 {
    font-size: 5.5em !important;
  }
}

@media screen and (max-width: $third-incr) {
  html {
    font-size: 0.8em;
  }

  .customh1 {
    font-size: 5em !important;
  }

  .customh2 {
    line-height: 70% !important;
  }
}

@media screen and (max-width: $fourth-incr) {
  html {
    font-size: 0.7em;
  }

  .customh2 {
    font-size: 5.5em !important;
  }

  p {
    line-height: 1.6em !important;
  }
}

@media screen and (max-width: $fifth-incr) {
  html {
    font-size: 0.6em;
  }

  .customh2 {
    font-size: 5em !important;
  }

  .button {
    min-width: 120px !important;
    height: auto !important;
    min-height: 45px;
    padding: 0px 5px 0px 5px;
  }

  p {
    line-height: 1.5em !important;
    font-size: 16px;
  }
}

@media screen and (max-width: 370px) {
  .customh1 {
    font-size: 3.9em !important;
  }

  .customh2 {
    font-size: 4em !important;
  }
}

@media screen and (max-width: 320px) {
  .customh1 {
    font-size: 3.5em !important;
  }
}

@media screen and (max-width: $sixth-incr) {
  p {
    line-height: 1.3em !important;
  }
}

@media screen and (max-height: 950px) and (min-width: $third-incr) {
  html {
    font-size: 0.9em;
  }
}

@media screen and (max-height: 900px) and (min-width: $fourth-incr) {
  html {
    font-size: 0.8em;
  }
}
