@import './vars.scss';

* {
  font-family: Helvetica;
  scroll-behavior: smooth;
  margin: 0px;
  color: $dark-font;
}

.app {
  min-height: 100vh;
}

img {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.underline {
  position: relative;

  &::before {
    content: '';
    background: $secondary;
    position: absolute;
    bottom: -4px;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 2px;
  }
}

.linkHover {
  @extend .underline;

  &:before {
    width: 0%;
  }

  &:hover {
    &:before {
      transition: width ease 0.2s;
      width: 50%;
    }
  }
}

.mainNav .nuxt-link-active {
  @extend .underline;

  &.homeMain::before {
    content: none;
  }
}

a {
  text-decoration: none;
}

.rosStretch {
  font-family: 'Roslindale';
  color: $bright-font;
}

.customh1 {
  @extend .rosStretch;
  font-size: 7.6em;
  font-weight: normal;
}

.customh2 {
  font-family: 'Sabiya-Regular';
  color: $secondary;
  font-size: 6.7rem;
  font-weight: normal;
  margin-bottom: -10px;
}

.customh3 {
  @extend .customh1;
  font-size: 3.75rem;
}

.customh4 {
  @extend .customh2;
  font-size: 4rem;
}

p {
  color: inherit;
  font-size: 1.37rem;
}

.button {
  display: inline-block;
  height: $btn-height;
  letter-spacing: 0.06rem;
  text-decoration: none;
  padding: 15px 20px 15px 20px;
  line-height: 0.8;
  background-color: $secondary;
  font-size: 1rem;
  color: $bright-font;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.2s ease all;
  overflow: hidden;
  position: relative;
  z-index: 1;
  min-width: 198px;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $secondary;
    border-radius: 7px;
    z-index: -2;
  }

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: lighten($secondary, 3%);
    transition: all 0.2s;
    border-radius: 0px;
    z-index: -1;
  }

  &:hover {
    &:before {
      width: 100%;
    }
  }

  &:active {
    &:before {
      background-color: $secondary;
    }
  }
}

.buttonLight {
  @extend .button;
  background-color: transparent;
  border: $secondary 2.5px solid;
  color: $bright-font;

  &:after {
    content: none;
  }

  &:before {
    content: none;
  }

  &:hover {
    background-color: $secondary;
  }

  &:active {
    background-color: transparent;
    transition: 0s all;
  }
}

.smaller {
  font-size: 0.8em;
  color: inherit;
}
