$main: #15364a;
$main-darker: #0c2636;
$secondary: #d6a11a;
$bright-font: white;
$dark-font: rgb(0, 0, 0);
$dark-font-lighter: rgb(39, 39, 39);
$header-height: 127px;
$footer-height: 200px;
$btn-height: 63px;
$first-incr: 1225px;
$second-incr: 900px;
$third-incr: 643px;
$fourth-incr: 530px;
$fifth-incr: 417px;
$sixth-incr: 287px;
$white-filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(73deg)
  brightness(101%) contrast(102%);
$standard-big-font: 'Roslindale';
$secondary-big-font: 'Glacial-Indifference';
$standard-secondary-font: 'Sabiya-Regular';
